streamlit==1.37.0
pandas==2.2.3
SQLAlchemy==2.0.32
reportlab==4.2.0
XlsxWriter==3.2.0
openpyxl==3.1.5
python-dateutil==2.9.0.post0
requests==2.32.3
python-dotenv==1.0.1
plotly==5.24.1
protobuf==4.25.3
googleapis-common-protos==1.72.0
bcrypt==4.1.2
passlib[bcrypt]==1.7.4
cffi==1.17.1
pyotp==2.9.0
qrcode[pil]==7.4.2
Pillow==10.4.0
pyppeteer==2.0.0
numpy==2.3.4
altair==5.5.0
pytz==2025.2
schedule==1.2.2
croniter==6.0.0
paramiko==4.0.0
boto3==1.41.5
azure-storage-blob==12.22.0
pyngrok==7.5.0
fastapi==0.124.4
uvicorn[standard]==0.38.0
PyJWT==2.10.1
